<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pkk_sip">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_wpadding"
        android:label="Slide It Puzzle"
        android:logo="@drawable/logo_wpadding"
        android:roundIcon="@drawable/logo_wpadding"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".FinalResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HasilActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".bottom_sheet"
            android:screenOrientation="portrait"/>
        <activity android:name=".Preview"
            android:screenOrientation="portrait"/>
        <activity android:name=".CustomTimeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".rowcolumninput"
            android:screenOrientation="portrait"/>
        <activity android:name=".RankingDifficultyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RankingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PuzzleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ImageOptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TimeLimitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChooseImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2111698681538067~8836953867"/>
    </application>

</manifest>